<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>544833289731-jtn2nta2h7jfpamkp4c090u4mnvqncor.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.544833289731-jtn2nta2h7jfpamkp4c090u4mnvqncor</string>
	<key>API_KEY</key>
	<string>AIzaSyAZXhNwEYRx5v6_ytlqxDvhXKaG87lU1LU</string>
	<key>GCM_SENDER_ID</key>
	<string>544833289731</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.financial.control</string>
	<key>PROJECT_ID</key>
	<string>financial-control-8766c</string>
	<key>STORAGE_BUCKET</key>
	<string>financial-control-8766c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:544833289731:ios:a1d42f78a5c84491b9d836</string>
	<key>DATABASE_URL</key>
	<string>https://financial-control-8766c-default-rtdb.firebaseio.com</string>
</dict>
</plist>